/* Globals and Resets */
html {
    font-family: 'Roboto', 'Arial', 'Helvetica', 'Verdana', sans-serif;
}

ul {
    list-style: none;
}

/* Flex and Flex Directions */
.flex-row, .flex-column {
    display: flex;
    align-items: center;
    gap: 12px;
}

.flex-row {
    flex-direction: row
}

.flex-column {
    flex-direction: column;
}

/* Justify Content */
.flex-end {
    justify-content: end;
}

.flex-start {
    justify-content: start;
}

.flex-between {
    justify-content: space-between;
}

.flex-around {
    justify-content: space-around;
}

.flex-center {
    justify-content: center;
}

/* Flex Item Auto Margins */
.flex-row.flex-end > .flex-margin, .flex-column.flex-end > .flex-margin {
    margin-right: auto;
}

.flex-row.flex-start > .flex-margin, .flex-column.flex-start > .flex-margin {
    margin-left: auto;
}

/* Flex Styling Resets */
.flex-row h1,
.flex-row h2,
.flex-row h3,
.flex-row p,
.flex-column h1,
.flex-column h2,
.flex-column h3,
.flex-column p {
  margin: 0;
  padding: 0;
}

/* Spacing */
.section-padding {
    padding: 24px 128px 24px 128px;
}
