/* Globals and Resets */
html {
    font-family: 'Roboto', 'Arial', 'Helvetica', 'Verdana', sans-serif;
}

body {
    margin: 0px;
    padding: 0px;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

a:visited {
    text-decoration: none;
}

/* Flex and Flex Directions */
.flex-row, .flex-column {
    display: flex;
    align-items: center;
    gap: 12px;
}

.flex-row {
    flex-direction: row
}

.flex-column {
    flex-direction: column;
}

/* Justify Content */
.flex-end {
    justify-content: end;
}

.flex-start {
    justify-content: start;
}

.flex-between {
    justify-content: space-between;
}

.flex-around {
    justify-content: space-around;
}

.flex-center {
    justify-content: center;
}

/* Align Self */
.flex-self-end {
    align-self: end;
}

/* Shink and Grow */
.flex-shrink-0 {
    flex-shrink: 0;
}

/* Flex Item Auto Margins */
.flex-row.flex-end > .flex-margin, .flex-column.flex-end > .flex-margin {
    margin-right: auto;
}

.flex-row.flex-start > .flex-margin, .flex-column.flex-start > .flex-margin {
    margin-left: auto;
}

/* Flex Styling Resets */
.flex-row h1,
.flex-row h2,
.flex-row h3,
.flex-row p,
.flex-column h1,
.flex-column h2,
.flex-column h3,
.flex-column p {
  margin: 0;
  padding: 0;
}

/* Spacing */
.section-padding {
    padding: 24px 128px 24px 128px;
}

.section-margin {
    margin: 24px 128px 24px 128px;
}

.quote-padding {
    padding: 48px 128px;
}

/* Coloring */

.bg-dark {
    background-color: rgb(24, 24, 24);
}

.dark {
    color: rgb(24, 24, 24)
}

.bg-less-dark {
    background-color: rgb(40, 40, 40);
}

.bg-light {
    background-color:rgb(200, 200, 200)
}

.light {
    color: rgb( 200, 200, 200)
}

.bg-mid {
    background-color:rgb(160, 160, 160)
}

.bg-dark-red {
    background-color: rgb(120, 55, 55)
}

.dark-red {
    color:rgb(120, 55, 55)
}

.light-red {
    color:rgb(200, 95, 95)
}

.gold {
    color: rgb(243, 221, 99)
}

/* Typography */
.quote {
    font-size: 1.5rem;
    font-style: italic;
}